@import 'variables.scss';
@import 'mixins.scss';

.root {
  .result {
    flex-basis: 100%;
    display: flex;

    &.is-loading {
      @include pulse;

      .text {
        color: $color-background;
        background: $color-background;
        user-select: none;
      }
    }
  }
}
