@import 'variables.scss';
@import 'mixins.scss';

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: $page-max-width;
  flex-grow: 1;
  align-self: center;

  .results-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    display: flex;
    > * {
      width: 100%;
    }

    .card {
      border-right: none;
      border-left: none;
      flex-grow: 1;

      &:first-child {
        border-top-color: transparent;
      }
    }
  }

  .algolia-container {
    color: $color-text-lighter;
    align-self: flex-end;
    display: flex;
    align-items: center;
    // stylelint-disable-next-line property-blacklist
    margin: $spacing-15px;
    .logo {
      height: 1.8em;
      margin-left: $spacing-5px;
      // stylelint-disable-next-line plugin/no-unsupported-browser-features
      filter: grayscale(100%);
      opacity: 0.3;
    }
  }

  .result {
    flex-basis: 100%;
    display: flex;
    .link {
      padding: $spacing-10px $spacing-20px;
      @include truncate-flex-child;
      display: flex;
      align-items: center;
      flex-grow: 1;
      color: inherit;

      .text {
        flex-grow: 1;
        margin-left: $spacing-10px;
      }

      .photo {
        width: 36px;
        background-color: $color-background;
      }

      img {
        width: 100%;
      }
    }
  }

  .result + .result {
    border-top: 1px solid $color-background;
  }
}
