@import 'variables.scss';
@import 'mixins.scss';

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: $page-max-width;
  flex-grow: 1;
  align-self: center;

  .results-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    display: flex;
    > * {
      width: 100%;
    }

    .card {
      border-right: none;
      border-left: none;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      &:first-child {
        border-top-color: transparent;
      }
    }
  }

  .algolia-container {
    color: $color-text-lighter;
    align-self: flex-end;
    display: flex;
    align-items: center;
    // stylelint-disable-next-line property-blacklist
    margin: $spacing-15px;
    .logo {
      height: 1.8em;
      margin-left: $spacing-5px;
      // stylelint-disable-next-line plugin/no-unsupported-browser-features
      filter: grayscale(100%);
      opacity: 0.3;
    }
  }
}
