@import 'variables.scss';
@import 'mixins.scss';

.root {
  width: 100%;
  overflow: hidden;
  position: relative;

  .inner {
    width: 100%;
    max-width: $page-max-width;
    position: relative;
  }

  .illumination {
    @include illumination(#ffffff, 2);
  }

  .result {
    opacity: 0.5;
    display: flex;
    flex-basis: 100%;
    margin-top: $spacing-10px;
    margin-left: $spacing-20px;

    .photo {
      width: 36px;
      height: 36px;
      background-color: $color-background;
    }

    .text {
      height: 1em;
      margin-top: $spacing-10px;
      margin-left: $spacing-10px;
      padding: $spacing-10px $spacing-20px;
      background-color: $color-background;
      width: 65%;
    }

    &:nth-child(2) .text {
      width: 75%;
    }
  }
}
