@import 'variables.scss';

.root {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;

  .inner {
    width: 100%;
    max-width: $page-max-width;
    position: relative;
  }

  .gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 180px;
    height: 100%;
    background-image: linear-gradient(
      79deg,
      rgba(241, 241, 243, 0) 35%,
      rgba(241, 241, 243, 1) 50%,
      rgba(241, 241, 243, 0) 75%
    );
    animation: animate-gradient 0.8s linear infinite;
  }

  .result {
    opacity: 0.5;
    display: flex;
    flex-basis: 100%;
    margin-top: $spacing-10px;
    margin-left: $spacing-20px;

    .photo {
      width: 36px;
      height: 36px;
      background-color: $color-background;
    }

    .text {
      height: 1em;
      margin-top: $spacing-10px;
      margin-left: $spacing-10px;
      padding: $spacing-10px $spacing-20px;
      background-color: $color-background;
      width: 65%;
    }

    &:nth-child(2) .text {
      width: 75%;
    }
  }
}

@keyframes animate-gradient {
  0% {
    transform: translateX(-180px);
  }

  100% {
    transform: translateX(780px);
  }
}
