@import 'variables.scss';
@import 'mixins.scss';

.root {
  display: flex;
  justify-content: center;

  > * {
    max-width: $page-max-width;
    flex-grow: 1;
  }

  .result {
    display: block;
    margin: 5px 0;
    display: flex;
    flex-basis: 100%;
    .link {
      @include truncate-flex-child;
      flex-grow: 1;
      padding: 15px 20px;
    }
  }

  .result + .result {
    border-top: 1px solid $color-background;
  }
}
