@import 'variables.scss';

.root {
  position: relative;

  .input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .input:not(:checked) ~ .children {
    display: none;
  }

  .input:checked ~ * .icon {
    transform: rotateZ(-180deg);
  }

  .icon {
    transition: transform 0.2s ease-in-out;
    margin-left: $spacing-10px;
    position: relative;
    top: 1px;
  }

  .label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: $color-blue;
    }
  }

  .children {
    animation: children 0.15s both;

    @keyframes children {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
