@import 'variables.scss';

.root {
  margin: 10px 0px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  padding: 15px;

  .content > * {
    margin: 20px 0;
    list-style: none;
  }

  a,
  a:hover {
    text-decoration: none;
  }
}
