@import 'variables.scss';

.root {
  display: block;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  padding: 15px;

  a,
  a:hover {
    text-decoration: none;
  }

  hr {
    height: 1px;
    background-color: $color-border-light;
    margin: 19px 0 20px 0;
  }

  small {
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 10px;
    color: $color-text-light;
  }
}
