{
  "presets": [
    [
      "minify",
      {
        "removeConsole": true,
        "removeDebugger": true,
        "simplifyComparisons": false,
        "mangle": false,
        "simplify": false
      }
    ],
    [
      "env",
      {
        "modules": false,
        "loose": true,
        "debug": false,
        "targets": {
          "browsers": [
            "last 5 Chrome versions",
            "last 5 Firefox versions",
            "last 2 Safari versions",
            "last 2 Edge versions",
            "last 2 Opera versions",
            "not OperaMini all"
          ]
        },
        "useBuiltIns": true
      }
    ],
    "react",
    "stage-3"
  ],
  "plugins": [
    "universal-import",
    "syntax-dynamic-import",
    "graphql-tag",
    "transform-node-env-inline",
    "transform-inline-environment-variables"
  ],
  "sourceMaps": "both"
}