/**
 * Contains different style constants
 */

$color-pink: #6e63cf;
$color-yellow: #f5ca23;

$color-text-default: #111;
$color-text-medium: rgba(0.15, 0.15, 0.15, 1);
$color-text-light: rgba(0, 0, 0, 0.5);

$color-border-gray: #e5e5e5;

$navbar-height: 46px;

$avatar-size: 120px;
