/**
* Contains different style constants
*/

$color-blue: #4b31f6;
$color-pink: #6e63cf;
$color-yellow: #f5ca23;

$color-text-default: #111;
$color-text-light: rgba(0, 0, 0, 0.5);

$color-border-gray: #e5e5e5;

$color-loading-placeholder: #f1f3f6;

$navbar-height: 46px;

$person-avatar-size: 120px;

$avatar-size: 120px;
