.fadeInDown-enter {
  opacity: 0;
  animation: fadeInDown 100ms ease-in both;
}

.fadeInDown-leave {
  opacity: 1;
  animation: fadeOutUp 100ms ease-in both;
}

.fadeInDown-enter.fadeInDown-enter-active {
  opacity: 1;
}

.fadeInDown-leave.fadeInDown-leave-active {
  opacity: 0;
}

.fadeInUp-enter {
  opacity: 0;
  animation: fadeInUp 100ms ease-in both;
}

.fadeInUp-leave {
  opacity: 1;
  animation: fadeOutDown 100ms ease-in both;
}

.fadeInUp-enter.fadeInUp-enter-active {
  opacity: 1;
}

.fadeInUp-leave.fadeInUp-leave-active {
  opacity: 0;
}

@mixin generateFadeInClasses($timeout) {
  .fadeIn-#{$timeout}-enter {
    opacity: 0;
  }

  .fadeIn-#{$timeout}-leave {
    opacity: 1;
  }

  .fadeIn-#{$timeout}-enter.fadeIn-#{$timeout}-enter-active {
    opacity: 1;
    transition: opacity #{$timeout}ms ease-in;
  }

  .fadeIn-#{$timeout}-leave.fadeIn-#{$timeout}-leave-active {
    opacity: 0;
    transition: opacity #{$timeout}ms ease-in
  }
}

@include generateFadeInClasses(100)
@include generateFadeInClasses(200)
@include generateFadeInClasses(300)
@include generateFadeInClasses(400)

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0)
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
}
