/**
 * Resets some default values, init general layout
 */
@import 'variables.scss';

*,
*::after,
*::before {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  position: relative;
  color: $color-text-default;
  background-color: #fff;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  .root {
    width: 100%;
    height: 100%;
  }
}

input,
button,
textarea {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
