$elementSpacingTop: 40px;

* {
  max-width: 100%;
  word-wrap: break-word;
}

// Remove unused scrollbar for the whole page when it's not needed.
// See: https://github.com/jgthms/bulma/issues/527
html {
  overflow-y: auto;
}

body, #app, .mainApp {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.overflowHidden {
  overflow: hidden;
}

.padding8 {
  padding: 8px;
}

.elementSpacingTop {
  margin-top: $elementSpacingTop;
}

.elementSpacingTopHalf {
  margin-top: $elementSpacingTop/2;
}

.elementPaddingSides {
  padding-left: 20px;
  padding-right: 20px;
}

.removePadding {
  padding: 0;
}

.fontAwesomeBackgroundImageWrapper {
  position: relative;

  &:after {
    font-family: FontAwesome;
    right: -5%;
    position: absolute;
    top: 0;
    font-size: 30rem;
    line-height: 15rem;
    color: $BulmaLightWatermark;
    z-index: 1;
  }
}

.fontAwesomeBackgroundImageInner {
  position: relative;
  z-index: 2;
}

.hv-has-shadow {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}
