$mainColor: #00d1b2;
$facebookBlue: #3B5998;
$BulmaLightWatermark: rgb(238, 237, 237);

@import "~bulma";
@import "globalStyles";

@import "app/app";
@import "app/header";

// @import "pages/addNotablePerson/addNotablePerson";
@import "pages/homepage/homepage";
// @import "pages/login/login";
// @import "pages/notablePerson/notablePerson";
@import "pages/search/search";

@import "components/globalSpinner";
@import "components/animations";
