$mainColor: #00d1b2;
$facebookBlue: #3B5998;
$BulmaLightWatermark: rgb(238, 237, 237);

@import "~bulma";

@import "globalStyles";

@import "app/app";
@import "app/header";
// @import "page/createProfile/createProfile";
@import "page/homepage/homepage";
// @import "page/login/login";
// @import "page/notablePerson/notablePerson";
@import "page/search/search";

@import "component/globalSpinner";
@import "component/animations";
