{
  "extends": "./node_modules/@hollowverse/common/.stylelintrc",
  "rules": {
    "plugin/no-unsupported-browser-features": [true, {
      "ignore": ["css-featurequeries", "outline", "css-appearance"]
    }],
    "property-blacklist": ["margin-bottom", "margin-right", "margin"]
  }
}