language: node_js

node_js: "node"

install:
  - npm install

script:
  - npm run test

after_success:
  - node_modules/.bin/ts-node deploy.ts

env:
  global:
    -secure: mQ/rqpva5qxbbicO6WGBPkGnXRLwUDIO/gmALK0FTxX0QWpaKMJwtb/MyGBXccVFdwSqSsxiDm74MQ3MBNnkt7CeISLRBhOLmnKY/8CvFh2/VAgcMSBLY9j9xuR+foWEa30ICxV1/0DkgN52wcB4lVIR1Gc8E15K3PZHrrWRE/fT95G56Vw64Ik4Zw5RVBGl2y5TYLWPC1qlqbFaALKljjVwSbAy4cZtCEQ2oAAeHbHcjONokaLdUm1z3GfjhcqB/UTCT5MxF5B8DzOtsAwAWfoNEDpXo6/PO4WMbwVDLVjdd/oQeplCMn6Mu2onsPwC1A+GXUnX9ONHHrXJwa+FI010bjLiKXZJVu9hMCk06IcB1dhWOVuTmdu+xuusMNyvsJNQ9u7lkXKtq5Ks+Tp7VWnmRpHhV9Fz3aXKVcCMsGZftZA8reYfj4k0sKcqWyXodc4I46TknrS/DKzdLWoTDHEXak+++N2HKbIjQe/QZcZYFuYl1DtBrqgNk30u+CmH/FliJFFQQWNPZfrkKg556dZVGDY9u7cj9I5csdPh0CkfdLU8DEZq2sZoZyqNesHkyIdu/wy5/Sv+iFkYlXtY6W1QlErRwXnqQtlSz35XaAkjAGpm3HQ+BPG4X9wqgo/LlpgnB/oE3gTq+68kPaD6oeaLn9MpSVw5eFL1LwqPa4U=

notifications:
  email: false

branches:
  only:
    - master
    - /^greenkeeper.*$/
