version: "3.3"

services:
  hollowverse_website:
    network_mode: "host"
    restart: always
    build:
      dockerfile: Dockerfile-dev
      context: .
    ports:
      - "${PORT:-8081}" # Main Server
      - "${WEBPACK_DEV_PORT:-3001}" # Webpack Dev Server
      - "${SERVER_DEBUG_PORT:-9231}" # Proxy Server Debugger
    volumes:
      - type: bind
        source: .
        target: /code
      
      - type: volume
        source: nm
        target: /code/node_modules
    environment:
      - API_HOST=${API_HOST:-http://127.0.0.1}
      - API_PORT=${API_PORT:-8080}
      - SERVER_DEBUG_PORT=${SERVER_DEBUG_PORT:-9231}
      - WEBPACK_DEV_PORT=${WEBPACK_DEV_PORT:-3001}

volumes:
  nm:

