@import 'variables.scss';

.message {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 175px;

  &-caption {
    color: $color-text-light;
    font-size: 16px;
    padding: 5px 0;
  }

  &-icon {
    padding: 5px;
  }

  .has-description &-caption {
    color: $color-text-default;
    font-weight: bold;
  }

  &-description {
    color: $color-text-light;
    margin-top: 5px;
  }

  &-button {
    font-size: 14px;
    padding: 5px 10px;
    margin: 10px 0;
    color: $color-blue;
    border: 1px solid rgba(75, 49, 246, 0.8);
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    user-select: none;

    &:hover {
      border-color: $color-blue;
      background-color: rgba(75, 49, 246, 0.04);
    }

    .has-description & {
      padding: 10px 20px;
      margin: 20px 0;
    }
  }
}
