@import 'variables.scss';
@import 'mixins.scss';

.root {
  @include font-13px;
  // stylelint-disable-next-line property-blacklist
  margin: $spacing-40px 0;
  color: $color-text-lighter;
  text-align: center;

  .list {
    list-style: none;
    > * {
      display: inline;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    > * + *::before {
      content: '\00b7';
      // stylelint-disable-next-line property-blacklist
      margin: 0 $spacing-5px;
    }
  }

  .logo {
    height: 25px;
    width: auto;
    // stylelint-disable-next-line plugin/no-unsupported-browser-features
    filter: grayscale(100%) opacity(0.6);
  }
}
