@import 'variables.scss';

*,
*::after,
*::before {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  min-width: 320px;
  position: relative;
  color: $color-text-default;
  background-color: $color-background-light;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

input,
button,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

a {
  text-decoration-skip: ink;
  transition: color 0.2s ease-in-out;
  color: $color-blue;
}

sup {
  font-weight: normal;
  font-size: 0.5em;
  position: relative;
  margin: 0 0.1em;
}

/**
 * Visibile on screen readers only
 * @see https://accessibility.18f.gov/hidden-content/
 */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input,
button {
  outline: none;
}
