@import 'variables.scss';

.root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .view {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    > * {
      flex-grow: 1;
    }
  }
}
