@import 'variables.scss';
@import 'mixins.scss';

@supports (-webkit-background-clip: text) {
  .root {
    .logo {
      background: linear-gradient(50deg, #4cfde9 0%, #fbc954 50%, #4435f7 120%);
      // stylelint-disable-next-line property-no-vendor-prefix
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
}

.root {
  border-bottom: 1px solid $color-border-light;
  user-select: none;
  color: $color-text-default;
  position: relative;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  @keyframes navbar-switch {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .sticky {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  .view-wrapper {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: stretch;
  }

  .view {
    width: 100%;
    display: flex;
    max-width: $page-max-width;
    align-items: center;
  }

  .button {
    &.is-hidden {
      visibility: hidden;
    }
  }

  .logo-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    .logo {
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 1px;
      @include truncate-flex-child;
    }
    animation: navbar-switch 0.15s;
  }
}
