.root {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: flex !important;
  align-items: center;
  align-self: stretch;
  background: transparent;
  transition: opacity 0.1s ease-in-out;
  border: 0 !important;
  flex-grow: 0;
  padding: 8px 15px !important;
  background: transparent !important;

  &:disabled {
    opacity: 0.3;
  }

  &:not(:disabled):hover {
    opacity: 0.7;
  }
}
