@import 'variables.scss';
@import 'mixins.scss';

.root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;

  .input-wrapper {
    height: 100%;
    flex-grow: 1;
    padding: 8px 5px;
  }

  .input {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    background: $color-background-light;
    text-align: center;

    &:focus {
      text-align: left;
    }
  }
}
