/**
 * Styles of Event
 */
@import 'variables.scss';

.event {
  margin: 40px auto 60px;

  &-content {
    position: relative;
    padding: 5px 0 5px 15px;
    border-left: 5px solid $color-pink;

    .self & {
      border-left-color: $color-yellow;
    }
  }

  &-caption {
    font-size: 12px;
    color: $color-text-light;
    margin-bottom: 5px;
  }

  &-date {
    float: right;
    font-size: 12px;
    color: $color-text-light;
  }

  &-text {
    font-size: 17px;
  }

  &-source {
    font-size: 12px;
    color: $color-text-light;
    margin: 5px 0;

    a {
      color: $color-text-light;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
