@import 'variables.scss';

.event {
  margin: 20px 0;

  &-meta {
    font-size: 12px;
    color: $color-text-light;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    a {
      color: $color-text-light;
      text-decoration: none;
      white-space: nowrap;
    }

    a:hover {
      color: $color-blue;
      text-decoration: underline;
    }

    > * {
      margin: 5px 5px 5px 0;
    }

    > * + *:not(.label)::before {
      content: '\00B7';
      padding-right: 5px;
      color: $color-text-light;
    }
  }
}
