@import 'variables.scss';

.event {
  margin: 20px 0;

  &-meta {
    font-size: 12px;
    color: $color-text-light;

    a {
      color: $color-text-light;
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }

    > * {
      margin: 5px 5px 5px 0;
    }

    .label-list {
      list-style: none;
      display: inline;

      .label-list-item {
        display: inline-block;
      }
    }

    > *:not(:last-child)::after {
      content: '\00B7';
      padding-left: 5px;
      color: $color-text-light;
    }
  }
}
