@import 'mixins.scss';

.root {
  display: flex;
  align-items: stretch;
  height: 100%;

  input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .label {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    align-items: center;

    .children {
      @include truncate-flex-child();
      flex-grow: 1;
    }

    .switch {
      position: relative;
      align-self: flex-end;
      flex-grow: 0;
      flex-shrink: 0;
      width: 35px;
      height: 18px;
      background: var(--color-toggle-off-background);
      border-radius: 10px;

      &::after {
        position: absolute;
        transition-property: transform, background-color;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;
        content: '';
        width: 100%;
        height: 100%;
        background: var(--color-toggle-off-knob);
        border-radius: 50%;
        height: 18px;
        width: 18px;
      }
    }
  }

  input:not(:checked) ~ .switch::after {
    transform: translateX(0%);
  }

  input:checked ~ .switch {
    background: var(--color-toggle-on-background);

    &:after {
      transform: translateX(100%);
      background: var(--color-toggle-on-knob);
    }
  }
}
