@import 'variables.scss';

.root {
  $quoation-mark-margin: $spacing-5px;
  $top-offset: 10px;

  &.large {
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.5;
  }

  position: relative;
  padding: 0 calc(1em + #{$quoation-mark-margin});
  margin-top: $top-offset;

  > :first-child::before,
  > :last-child::after {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 175%;
    color: $color-text-light;
    opacity: 0.4;
    margin-left: $quoation-mark-margin;
  }

  > :first-child::before {
    display: block;
    content: '“';
    float: left;
    left: 0;
    top: -$top-offset;
  }

  > :last-child::after {
    content: '”';
    line-height: 1;
  }
}
