@import 'variables.scss';

.root {
  $quoation-mark-margin: 5px;
  $top-offset: 10px;

  &.large {
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.5;
  }

  position: relative;
  padding: 0 calc(1em + #{$quoation-mark-margin});
  margin-top: $top-offset;

  &::before,
  &::after {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    color: $color-text-light;
    margin: 0 $quoation-mark-margin;
  }

  &::before {
    display: block;
    content: '“';
    float: left;
    left: 0;
    top: -$top-offset;
  }

  &::after {
    content: '”';
    line-height: 1;
  }
}
