.container {
  &.js-disabled {
    // stylelint-disable-next-line plugin/no-unsupported-browser-features
    position: sticky;
  }

  &.js-disabled,
  .element,
  .placeholder {
    width: 100%;
    z-index: 1;
    top: 0;
  }

  .placeholder {
    position: absolute;
  }

  .element {
    position: static;
  }

  &.is-sticking {
    .placeholder {
      position: static;
    }
    .element {
      position: fixed;
    }
  }
}
