.container {
  // Fallback when JS is disabled
  &.js-disabled {
    & .placeholder {
      position: static;
    }

    & .element {
      position: fixed;
    }
  }

  &.js-disabled,
  .element,
  .placeholder {
    width: 100%;
    z-index: 1;
    top: 0;
  }

  &:not(.js-disabled) {
    .placeholder {
      position: absolute;
    }

    .element {
      position: static;
    }

    &.is-sticking {
      .placeholder {
        position: static;
      }
      .element {
        position: fixed;
      }
    }
  }
}
