@import 'variables.scss';
@import 'mixins.scss';

.root {
  text-align: center;
  min-height: 175px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    @include font-16px;
    color: $color-text-light;
    padding: $spacing-5px 0;
  }

  .icon {
    padding: $spacing-5px;
  }

  .button-wrapper {
    display: block;
    margin-top: $spacing-10px;
  }

  &.has-description .title {
    color: $color-text-default;
    font-weight: bold;
  }

  .description {
    color: $color-text-light;
  }
}
