@import 'variables.scss';

.root {
  line-height: 1.5;

  > *:not(span) {
    display: block;
  }

  > h2 {
    font-size: 20px;
  }

  .br {
    display: block;
  }

  > * + * {
    margin-top: $spacing-15px;
  }

  .source-list-container {
    margin-top: $spacing-20px;
    .source-list {
      padding: 0 $spacing-30px;
      li {
        margin: $spacing-10px 0 0 $spacing-10px;
      }
    }
  }

  .back-link {
    border-radius: 50%;
    margin-left: $spacing-5px;
    padding: $spacing-1px;
    display: inline-block;
    &:hover {
      text-decoration: none;
      background-color: $color-blue-opacity;
    }
  }

  .footer {
    margin-top: $spacing-20px;
  }
}
