@import 'variables.scss';

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

/**
 * Allow text to be truncated instead of wrapping to a new line
 * @see https://css-tricks.com/flexbox-truncated-text/
 */
@mixin truncate-flex-child($min-width: 0) {
  // This is required to allow flex children to shrink below
  // the implicit width
  min-width: $min-width;

  &,
  > * {
    @include truncate;
  }
}

/*
* Fonts
*/
@mixin font-11px {
  font-size: 11px;
}
@mixin font-13px {
  font-size: 13px;
  line-height: 1.4;
}
@mixin font-16px {
  font-size: 16px;
  line-height: 1.6;
}
@mixin font-20px {
  font-size: 20px;
  font-weight: bold;
}
@mixin font-26px {
  font-size: 26px;
  font-weight: normal;
  line-height: 1;
}

/*
* Effects
*/
@mixin pulse() {
  @keyframes pulse-animation {
    0%,
    100% {
      opacity: 0.2;
    }

    50% {
      opacity: 1;
    }
  }

  animation: pulse-animation 0.8s ease-in-out infinite;
  animation-fill-mode: both;
}
