/**
* Contains different style constants
*/

$color-blue: #4b31f6;
$color-pink: #6e63cf;
$color-yellow: #f5ca23;

$color-text-default: #111;
$color-text-light: rgba(0, 0, 0, 0.6);

$color-border-light: #e5e5e5;
$color-border-lighter: #f1f2f4;

$color-background-light: #f3f3f5;

$navbar-height: 46px;

$person-avatar-size: 120px;

$page-min-width: 320px;
$page-max-width: 720px;
