$font-family: system-ui, -apple-ui, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Helvetica, Arial, sans-serif;

/*
* Colors
*/
$color-blue: #4b31f6;
$color-blue-opacity: rgba(110, 99, 207, 0.05);
$color-pink: #6e63cf;
$color-yellow: #f5ca23;

$color-text-default: #111;
$color-text-light: rgba(0, 0, 0, 0.6);
$color-text-lighter: rgba(0, 0, 0, 0.35);

$color-border-light: rgba(0, 0, 0, 0.08);

$color-background-light: #f1f1f3;
$color-background: #dfdfe1;

/*
* Sizes
*/
$person-avatar-size: 120px;

$person-card-width: 170px;
$person-card-height: 260px;

$page-min-width: 320px;
$page-max-width: 720px;
$page-mobile-width: 640px;

/*
* Spacing
*/
$spacing-1px: 1px;
$spacing-2px: 2px;
$spacing-5px: 5px;
$spacing-8px: 8px;
$spacing-10px: 10px;
$spacing-12px: 12px;
$spacing-15px: 15px;
$spacing-20px: 20px;
$spacing-25px: 25px;
$spacing-30px: 30px;
$spacing-40px: 40px;
