@import 'variables.scss';

a.root {
  display: inline-block;
  text-decoration: none;
}

.root {
  padding: $spacing-8px;
  color: var(--color-text-link);
  border: 1px solid var(--color-text-link);
  border-radius: 5px;
  background-color: var(--color-paper);
  cursor: pointer;
  user-select: none;
  &:hover,
  &:focus {
    border-color: var(--color-text-link-hover);
    background-color: rgba(75, 49, 246, 0.04);
  }
}
