@import 'variables.scss';

a.root {
  display: inline-block;
  text-decoration: none;
}

.root {
  padding: $spacing-8px;
  color: $color-blue;
  border: 1px solid rgba(75, 49, 246, 0.8);
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  user-select: none;
  &:hover,
  &:focus {
    border-color: $color-blue;
    background-color: rgba(75, 49, 246, 0.04);
  }
}
