@import 'variables.scss';
@import 'mixins.scss';

.root {
  composes: root from './LoadableNotablePerson.module.scss';

  .stub {
    padding: $spacing-20px;
  }

  .comments {
    padding: $spacing-10px;
  }

  .editorial-summary {
    align-self: center;
    max-width: $page-max-width;
  }

  .related-people-title {
    margin-top: $spacing-20px;
    margin-left: $spacing-20px;
  }
}
