@import 'variables.scss';

.root {
  width: 100%;
  overflow: hidden;

  .inner {
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 40px;
    position: relative;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.2;

    // stylelint-disable-next-line plugin/no-unsupported-browser-features
    filter: blur(50px);

    background-image: linear-gradient(
        -180deg,
        rgba(241, 241, 243, 0) 0%,
        rgba(241, 241, 243, 1) 50%
      ),
      linear-gradient(
        132deg,
        #4cfde9 0%,
        rgba(251, 201, 84, 1) 50%,
        #4435f7 100%
      );
  }

  .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    background-image: linear-gradient(
      79deg,
      rgba(241, 241, 243, 0) 35%,
      rgba(241, 241, 243, 1) 50%,
      rgba(241, 241, 243, 0) 75%
    );
    animation: animate-gradient 0.8s linear infinite;
  }

  .photo {
    width: $person-avatar-size;
    height: $person-avatar-size;
    user-select: none;
    margin: 20px auto 25px;
    background-color: $color-background;
    border-radius: 1px;
  }

  .caption {
    height: 11px;
    width: 220px;
    margin: 0 auto;
    background-color: $color-background;
  }

  .name {
    height: 30px;
    width: 55%;
    margin: 10px auto 22px;
    background-color: $color-background;
  }

  .lines {
    > * {
      height: 20px;
      margin: 10px 0;
      background-color: $color-background;
    }

    :nth-child(1) {
      width: 95%;
    }

    :nth-child(2) {
      width: 75%;
    }

    :nth-child(3) {
      width: 80%;
    }

    :nth-child(4) {
      width: 35%;
    }
  }
}

@keyframes animate-gradient {
  0% {
    transform: translateX(-180px);
  }

  100% {
    transform: translateX(780px);
  }
}
