.root {
  width: 100%;
  max-width: 100% !important;

  .article {
    // `!important` is needed here to override `> * { max-width: $max-page-width }`
    // in `NotablePerson.module.scss`
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
