@import 'variables.scss';

.comments {
  margin-top: 15px;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > * {
    width: 100%;
    max-width: $page-max-width;
  }

  .article {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    .editorial-summary {
      align-self: center;
      max-width: $page-max-width;
    }
  }
}
