@import 'variables.scss';
@import 'mixins.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: $spacing-20px;

  .card,
  .stub {
    padding: $spacing-20px;
  }

  .comments {
    margin-top: $spacing-30px;
    padding: $spacing-10px;
  }

  > * {
    width: 100%;
    max-width: $page-max-width;
  }

  .editorial-summary {
    margin-top: $spacing-10px;
    align-self: center;
    max-width: $page-max-width;
  }

  .related-people {
    margin-top: $spacing-30px;
    h2 {
      margin-left: $spacing-12px;
      @include font-26px;
    }
  }
}
