.comments {
  margin-top: 15px;
}

.list {
  display: block;

  li {
    display: block;
  }

  & > * + * {
    margin: 15px 0;
  }
}

.card {
  margin-left: -20px;
  margin-right: -20px;
}

.editorial-symmary {
  line-height: 1.5;
}
