@import 'variables.scss';

.root {
  width: 100%;
  max-width: $page-max-width;
  position: relative;
  align-self: center;
  overflow: hidden;

  // stylelint-disable plugin/no-unsupported-browser-features
  mask-image: linear-gradient(to bottom, black, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  // stylelint-enable plugin/no-unsupported-browser-features

  .inner {
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 40px;
    position: relative;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px solid transparent;
    opacity: 0.4;

    // stylelint-disable-next-line plugin/no-unsupported-browser-features
    filter: blur(50px);

    --color-cover-primary-light: rgb(35, 255, 229);
    --color-cover-primary-dark: rgb(0, 214, 189);
    --color-cover-primary: rgba(33, 14, 243, 0.76);
    --color-cover-secondary-light: rgb(252, 210, 86);
    --color-cover-secondary: rgb(248, 182, 0);

    background: linear-gradient(
      130deg,
      var(--color-cover-secondary-light) -20%,
      var(--color-cover-primary) 30%,
      var(--color-cover-primary-dark) 60%,
      var(--color-cover-secondary) 120%
    );
  }

  .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    background-image: linear-gradient(
      79deg,
      rgba(201, 201, 255, 0) 35%,
      rgba(241, 241, 243, 1) 50%,
      rgba(241, 241, 243, 0) 75%
    );
    animation: animate-gradient 0.8s linear infinite;
  }

  .photo {
    width: $person-avatar-size;
    height: $person-avatar-size;
    user-select: none;
    margin: 20px auto 25px;
    background-color: $color-background;
    border-radius: 1px;
  }

  .caption {
    height: 11px;
    width: 220px;
    margin: 0 auto;
    background-color: $color-background;
  }

  .name {
    height: 30px;
    width: 55%;
    margin: 10px auto 22px;
    background-color: $color-background;
  }

  .lines {
    > * {
      height: 20px;
      margin: 10px 0;
      background-color: $color-background;
    }

    :nth-child(1) {
      width: 95%;
    }

    :nth-child(2) {
      width: 75%;
    }

    :nth-child(3) {
      width: 80%;
    }

    :nth-child(4) {
      width: 35%;
    }
  }
}

@keyframes animate-gradient {
  0% {
    transform: translateX(-180px);
  }

  100% {
    transform: translateX(780px);
  }
}
