@import 'variables.scss';
@import 'mixins.scss';

.root {
  width: 100%;
  list-style: none;
  max-width: $page-max-width;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: $spacing-10px;

  /**
   * Enable momentum-based scrolling, Safari only
   * See https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling
   */
  -webkit-overflow-scrolling: touch;

  overflow-x: scroll;
  overflow-x: overlay;

  /** Hide scrollbar on touch devices only */
  @media (pointer: coarse) {
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  li > * {
    width: 100%;
  }

  .square {
    min-width: $person-avatar-size;
    min-height: $person-avatar-size;
    background-color: $color-background;
  }

  .lazy-image {
    height: 100%;
  }

  .card {
    padding-bottom: $spacing-10px;
  }

  .link {
    display: block;

    > * {
      height: 100%;
    }
  }

  .person {
    @include font-13px;
    flex: 1 0 calc(25% - 2px);
    display: flex;
    align-items: flex-start;
    padding: 2px;
    font-weight: bold;
    a {
      color: initial;
      text-decoration: none;
    }

    .name {
      padding: $spacing-10px;
      padding-bottom: 0;
      text-align: center;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      // stylelint-disable-next-line plugin/no-unsupported-browser-features
      object-fit: cover;
    }
  }
}
