@import 'variables.scss';
@import 'mixins.scss';

.root {
  width: 100%;
  list-style: none;
  max-width: $page-max-width;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  /**
   * Enable momentum-based scrolling, Safari only
   * See https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling
   */
  -webkit-overflow-scrolling: touch;

  overflow-x: scroll;

  /** Hide scrollbar on touch devices only */
  @media (pointer: coarse) {
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  li > * {
    width: 100%;
  }

  .lazy-image {
    height: 100%;
  }

  .square {
    min-width: $person-avatar-size;
    min-height: $person-avatar-size;
    background-color: $color-background;
    flex-grow: 0;
  }

  .link {
    display: block;
    height: 100%;
  }

  a {
    color: initial;
    text-decoration: none;
  }

  .person {
    $spacing: $spacing-5px;
    flex: 1 0 calc(25% - #{$spacing});
    max-width: calc(#{$page-max-width} / 4);
    display: flex;
    align-items: flex-start;
    padding: $spacing;
    font-weight: bold;

    img {
      display: block;
      width: 100%;
      height: 100%;
      // stylelint-disable-next-line plugin/no-unsupported-browser-features
      object-fit: cover;
    }
  }
}
