@import 'variables.scss';

.label {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 0 12px;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  border-radius: 12px;
  color: $color-text-light;
  background-color: $color-background-light;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);

  &.small {
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    padding: 0 10px;
  }
}
