@import 'variables.scss';

.root {
  padding: 0 12px;
  font-size: 12px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  border-radius: 12px;
  color: $color-text-light;
  background-color: $color-background-light;
  border: 1px solid $color-border-light;

  &.small {
    padding: 0 8px;
    height: 18px;
    border-radius: 9px;
    font-size: 11px;
    background-color: $color-background-light;
    border: 0;
  }
}
