@import 'variables.scss';

.root {
  width: 100%;
  max-width: $page-max-width;
  flex-grow: 1;
  align-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .search-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;

    .search-box {
      display: flex;
      align-items: center;

      .icon {
        opacity: 0.5;
        margin: 0.5em;
      }

      .input {
        padding: 0.5em;
        flex-grow: 1;
        font-size: large;
      }
    }
  }

  .footer {
    margin-bottom: 48px;
    font-size: 11px;
    color: $color-text-lighter;
    text-align: center;

    .list {
      list-style: none;
      > * {
        display: inline;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      > * + *::before {
        content: '\00b7';
        margin: 5px;
      }
    }

    .logo {
      height: 25px;
      width: auto;
      // stylelint-disable-next-line plugin/no-unsupported-browser-features
      filter: grayscale(100%) opacity(0.6);
    }
  }
}
