@import 'variables.scss';

.root {
  --color-cover-primary-light: rgb(201, 246, 241);
  --color-cover-primary-dark: rgb(103, 191, 181);
  --color-cover-primary: rgba(147, 137, 255, 0.76);
  --color-cover-secondary-light: rgb(251, 236, 192);
  --color-cover-secondary: rgb(255, 223, 137);

  @supports (filter: blur(5px)) and (mask-image: linear-gradient(black, transparent)) {
    .cover-photo-wrapper {
      visibility: visible;
    }
  }

  .cover-photo-wrapper {
    // stylelint-disable plugin/no-unsupported-browser-features
    mask-image: url('file-loader!assets/mask.png');
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    border: 1px solid transparent;
    border-top: none;
    // stylelint-enable plugin/no-unsupported-browser-features
    right: -50%;
    left: -50%;
    top: 0;
    bottom: 40%;
    @media screen and (min-width: $page-max-width) {
      right: 0;
      left: 0;
      bottom: 15%;
    }
    visibility: visible;
    position: absolute;
    overflow: hidden;
    z-index: -1;
  }

  .cover-photo {
    // stylelint-disable-next-line plugin/no-unsupported-browser-features
    filter: blur(30px) opacity(0.9);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      130deg,
      var(--color-cover-secondary-light) -20%,
      var(--color-cover-primary) 30%,
      var(--color-cover-primary-dark) 60%,
      var(--color-cover-secondary) 120%
    );
  }
}

.root {
  position: relative;
  margin-bottom: 25px;
  overflow-x: hidden;
  padding: 20px 20px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;

  .photo-link {
    align-self: center;
    display: inline-block;
    width: $person-avatar-size;
    height: $person-avatar-size;
    margin: 20px auto 25px;
  }

  .photo {
    display: block;
    width: $person-avatar-size;
    height: $person-avatar-size;
    background-color: $color-background-light;
    box-shadow: 0 0 0 1.5px rgba(255, 255, 255, 0.7),
      0 2px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 1px;

    // stylelint-disable-next-line plugin/no-unsupported-browser-features
    object-fit: cover;
  }

  .caption {
    color: $color-text-light;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 5px;
    text-align: center;
  }

  .name {
    color: $color-text-default;
    font-size: 26px;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 26px;
    text-align: center;
  }

  .labels {
    text-align: center;
    margin: 20px auto;
    .list-item {
      display: inline;
    }
  }

  .summary {
    font-size: 16px;
    line-height: 1.5;

    p {
      margin: 10px 0;
    }
  }
}
