@import 'variables.scss';
@import 'mixins.scss';

@mixin photo-border(
  $color1: rgba(255, 255, 255, 0.7),
  $color2: rgba(0, 0, 0, 0.1)
) {
  box-shadow: 0 0 0 1.5px $color1, 0 2px 1px 0 $color2;
  border-radius: 1px;
}

.root {
  display: flex;
  flex-direction: column;

  .container {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $page-max-width;

    .content {
      width: 100%;
      max-width: $page-max-width;
      align-self: center;
      margin-top: $spacing-10px;
    }

    .photo-link {
      align-self: center;
      display: inline-block;
      min-width: $person-avatar-size;
      min-height: $person-avatar-size;
      height: 25vw;
      width: 25vw;
      max-width: calc(#{$page-max-width} / 4);
      max-height: calc(#{$page-max-width} / 4);
      margin-top: $spacing-40px;
    }

    .photo {
      @include photo-border;

      display: block;
      width: 100%;
      height: 100%;
      background-color: $color-background-light;

      // stylelint-disable-next-line plugin/no-unsupported-browser-features
      object-fit: cover;
    }

    .summary {
      margin-top: $spacing-30px;
      padding: $spacing-20px;

      p + p {
        margin-top: $spacing-10px;
      }
    }

    &.is-loading {
      @include pulse;

      .photo {
        @include photo-border(transparent, transparent);
      }

      .photo,
      .text {
        color: $color-background;
        background: $color-background;
        user-select: none;
      }
    }
  }
}
