@import 'variables.scss';
@import 'mixins.scss';

.root {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  .cover-background-wrapper {
    visibility: hidden;
    @supports (filter: blur(5px)) and (mask-image: linear-gradient(black, transparent)) {
      & {
        visibility: visible;
      }
    }
    // stylelint-disable plugin/no-unsupported-browser-features
    mask-image: linear-gradient(to bottom, black, transparent);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    // stylelint-enable plugin/no-unsupported-browser-features
    border: 1px solid transparent;
    border-top: none;
    position: absolute;
    z-index: -1;
    right: 0px;
    left: 0;
    top: 0;
    height: 200px;
  }

  .cover-background {
    // stylelint-disable-next-line plugin/no-unsupported-browser-features
    filter: blur(25px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .content {
    width: 100%;
    max-width: $page-max-width;
    align-self: center;
  }

  .photo-link {
    align-self: center;
    display: inline-block;
    min-width: $person-avatar-size;
    min-height: $person-avatar-size;
    height: 25vw;
    width: 25vw;
    max-width: calc(#{$page-max-width} / 4);
    max-height: calc(#{$page-max-width} / 4);
    margin-top: $spacing-40px;
  }

  .photo {
    display: block;
    width: 100%;
    height: 100%;
    background-color: $color-background-light;
    box-shadow: 0 0 0 1.5px rgba(255, 255, 255, 0.7),
      0 2px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 1px;

    // stylelint-disable-next-line plugin/no-unsupported-browser-features
    object-fit: cover;
  }

  .name-container {
    @include font-26px;
    color: $color-text-default;
    margin-top: $spacing-10px;
    text-align: center;

    .caption {
      @include font-11px;
      color: $color-text-light;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: $spacing-20px;
      text-align: center;
    }

    .name {
      margin-top: $spacing-5px;
    }
  }

  .summary {
    @include font-16px;
    margin-top: $spacing-30px;
    padding: $spacing-20px;

    p + p {
      margin-top: $spacing-10px;
    }
  }
}
