@import 'variables.scss';

.root {
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-index-menu;

    // #region Transitions

    // Transition classes are set by `react-transition-group`
    &-enter {
      opacity: 0;
      transform: scale(0);
      transform-origin: 0% 0%;
    }

    &-enter-active {
      opacity: 1;
      transform: scale(1);
    }

    &-exit {
      opacity: 1;
      transform: scale(1);
      transform-origin: 0% 0%;
    }

    &-exit-active {
      opacity: 0;
      transform: scale(0);
    }

    &-exit-active,
    &-enter-active {
      transition-property: opacity, transform;
      transition-duration: var(--timeout);
      transition-timing-function: ease-in-out;
    }
    // #endregion Transitions

    .body {
      position: fixed;

      // The actual position for the menu body will be set dynamically
      // vis JS. See the `getMenuStyle` prop on the menu component.
      top: var(--top);
      left: var(--left);

      // Allow the menu to be scrolled vertically when it has too many items
      max-height: calc(100vh - var(--top));
      overflow-y: auto;

      width: 240px;
    }

    .user-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .user-name {
      margin-top: $spacing-10px;
      font-weight: bold;
    }

    .close {
      button {
        padding-right: $spacing-15px;
      }

      position: absolute;
      display: block;
      top: 0;
      right: 0;
    }

    .separator {
      width: 100%;
      height: 1px;
      padding: $spacing-5px 0;
      list-style: none;

      > div {
        border-top: 1px solid var(--color-border);
      }
    }
  }
}
