@import 'mixins.scss';

.root {
  margin-top: 14px;
  list-style: none;

  &.small {
    margin-top: 7px;

    > * {
      margin-top: -7px;
      padding: 7px 20px;
    }
  }

  &.is-clickable {
    cursor: pointer;
  }

  .child {
    margin-top: -14px;
    padding: 14px 20px;
  }

  &.is-clickable .child:focus,
  &.is-clickable .child:hover {
    background: $color-background-light;
  }

  button {
    background: transparent;
    border: 0;
  }

  .child {
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    color: inherit;
    text-align: left;

    > * {
      @include truncate-flex-child();
    }

    .icon {
      flex-shrink: 0;
      position: relative;
      & + * {
        margin-left: 10px;
      }
    }

    &.small {
      font-size: 12px;
      color: $color-text-lighter;
      &:hover,
      &:focus {
        color: $color-text-default;
        background: transparent;
      }
    }
  }
}
