@import 'mixins.scss';

.root {
  margin-top: $spacing-15px;
  list-style: none;

  &.small {
    margin-top: $spacing-8px;

    > * {
      margin-top: -$spacing-8px;
      padding: $spacing-8px $spacing-20px;
    }
  }

  &.is-clickable .child:not([disabled]) {
    cursor: pointer;
  }

  .child {
    margin-top: -$spacing-15px;
    padding: $spacing-15px $spacing-20px;
  }

  button {
    background: transparent;
    border: 0;
  }

  &.is-clickable .child:not([disabled]):focus,
  &.is-clickable .child:not([disabled]):hover {
    background: $color-background-light;
  }

  &.is-clickable .child.small:hover,
  &.is-clickable .child.small:focus {
    color: inherit;
  }

  .child {
    font-size: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    color: inherit;
    text-align: left;

    &[disabled] {
      color: $color-text-light;
    }

    > * {
      @include truncate-flex-child();
    }

    .icon {
      flex-shrink: 0;
      position: relative;
      & + * {
        margin-left: $spacing-10px;
      }
    }

    &.small {
      font-size: 12px;
      color: $color-text-lighter;
    }
  }
}
