@import 'mixins.scss';

.root {
  margin-top: $spacing-15px;
  list-style: none;

  &.small {
    margin-top: $spacing-8px;

    > * {
      margin-top: -$spacing-8px;
      padding: $spacing-8px $spacing-20px;
    }
  }

  &.is-clickable * {
    cursor: pointer;
  }

  .child {
    margin-top: -$spacing-15px;
    padding: $spacing-15px $spacing-20px;
  }

  button {
    background: transparent;
    border: 0;
  }

  .child {
    font-size: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    color: inherit;
    text-align: left;

    > * {
      @include truncate-flex-child();
    }

    .is-clickable &:focus,
    .is-clickable &:hover {
      background: $color-background-light;
    }

    .icon {
      flex-shrink: 0;
      position: relative;
      & + * {
        margin-left: $spacing-10px;
      }
    }

    &.small {
      font-size: 12px;
      color: $color-text-lighter;
      .is-clickable &:hover,
      .is-clickable &:focus {
        color: $color-text-default;
        background: transparent;
      }
    }
  }
}
