.pageHomepage {
  .hero {
    @extend .elementSpacingTop;
  }

  .searchButtonContainer {
    margin-top: 20px;
    
    a {
      width: 170px;
      color: white;
    }

    text-align: center;
  }

  .input {
    font-size: 1.3rem;
  }

  .fontAwesomeBackgroundImageWrapper:after {
    content: '\f002';
    font-size: 25rem;
    line-height: 12rem;
    right: 5%;
  }

  .searchForm {
    position: relative;

    .text-center {
      text-align: center;
      position: absolute;
      bottom: 100%;
      margin-bottom: 1rem;
      left: 0;
      right: 0;
    }

    .notification {
      display: inline-block;
    }
  }
}
