@import 'variables.scss';

.loader {
  &-circular {
    transform-origin: center center;
    animation: loader-circular 1.8s linear infinite;
  }

  &-path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke: $color-blue;
    animation: loader-dash 0.9s ease-in-out infinite;
  }
}

/**
  * Loader Animations
  */
@keyframes loader-circular {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
