@import 'variables.scss';

.navbar {
  width: 100%;
  height: $navbar-height;
  line-height: $navbar-height;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  border-bottom: 1px solid $color-border-gray;
  user-select: none;
  cursor: default;
  color: $color-text-default;
  background-color: #fff;

  a {
    text-decoration: none;
    color: inherit;
  }

  &-btn {
    position: absolute;
    top: 0;
    width: $navbar-height;
    height: $navbar-height;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      background-color: #f1f1f1;
    }
  }

  &-btn.menu {
    left: 0;
    background-image: url('~file-loader!assets/iconMenu.svg');
  }

  &-btn.search {
    right: 0;
    background-image: url('~file-loader!assets/iconSearch.svg');
  }
}
